body{
    margin: 0;
    padding: 0;
    background-color: #270C54;
}

p{font-family: 'Fresca', sans-serif;}
h1{font-family: 'Oswald', sans-serif;}
h2{font-family: 'Oswald', sans-serif;}
h3{font-family: 'Oswald', sans-serif;}
h4{font-family: 'Oswald', sans-serif;}
h5{font-family: 'Oswald', sans-serif;}
h6{font-family: 'Oswald', sans-serif;}

.navbar{
    background-color: #270C54;
}

.ulHeader{
    display: flex;
    list-style: none;
    margin: 0;
}

.anchor{
    text-decoration: none;
    color: #FFDE59;
    font-family: 'Roboto' sans-serif;
}

.anchor:hover{
    color: white;
}

.bannerHome{
    width: 100%;
    height: auto;
}

.bannerHome img{
    width: 100%;
    height: 100%;
}

/* Sobre mí */

#sobre-mi{
    width: 100%;
    height: auto;
    background-color: #270C54;
}

.contenido-sobreMi{
    width: 70%;
    height: auto;
    margin: 0 15% 0 15%;
    background-color: #270C54;
}

.encabezado{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulo{
    color: #FFDE69;
    margin-top: 35px;
}

.avatar{
    display: flex;
    justify-content: center;
}

#avatar{
    width: 35%;
    height: 35%;
    margin-top: 35px;
    margin-bottom: 35px;
    filter: drop-shadow(8px 8px 8px #FFDE59);
}

.textos{
    display: flex;
}

.texto-izquierda{
    color: #FFDE69;
    padding: 0px 15px 0px 15px;
}

.texto-derecha{
    color: #FFDE69;
    padding: 0px 15px 0px 15px;
}

.lenguajes{
    width: 100%;
}

.lenguajes h2{
    color: #FFDE69;
    margin-top: 35px;
    text-align: center;
}

.iconos{
    display: flex;
}

.logos{
    width: 30%;
    height: auto;
    margin: 35px 15px 60px 15px;
}

/* Footer */

footer{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 70px;
    background-color: #270C54;
}

.divFooterIzquierda{
    width: 70%;
}

.divFooterIzquierda h2{
    font-size: 25px;
    font-family: 'Roboto' sans-serif;
    color: #FFDE69;
}

.divFooterDerecha{
    width: 30%;
}

.divFooterDerecha ul{
    display: flex;
    flex-direction: row;
    list-style: none;
}

.divFooterDerecha li{
    width: 33.3%;
    height: 100%;
    padding: 2%;
}

.iconosFooter{
    width: 35%;
    height: 35%;
}

.botonCotizador{
    display: flex;
    justify-content: center;
    background-color: #270C54;
}

/* Trabajos */

#botonCotizador{
    display: flex;
    justify-content: center;
    background-color: #270C54;
}